body {
    background-color: #FBFBFB;
}

html,
body {
    height: 100%;
    min-width: 1024px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.all-body {
    height: 100%;
    background-color: #FBFBFB;
}

.head-page {
    background-color: #FBFBFB;
    height: 95px;
    min-width: 100%;
    text-align: center;
}

.main-content {
    width: 100%;
    min-height: 100%;
    padding-bottom: 50px;
    text-align: center;
}

.main-content .table-content {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.main-content .table-content tr td:nth-child(odd){
    /*Diseno Publicidad*/
    width: 15%;
}
.main-content .table-content tr td:nth-child(even){
    width: 55%;
}
/*Holaaaaa ocupo probar*/
